.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #c0c0c8;
  width: 320px;
  flex: 0 0 320px;
  height: 100%;
  gap: 30px;
  padding: 30px;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  overflow: hidden auto;
  box-sizing: border-box;
}
