.thumbnail {
  height: 170px;
  width: 260px;
  position: relative;
  background-color: #fff;
  border-radius: 7px;
  border: 2px solid transparent;
  overflow: hidden;
}

.selected {
  border: 2px solid #007bff;
}
