.select {
  border-radius: 4px;
  height: 40px;
  font-family: "Helvetica", "sans-serif";
  font-size: 14px;
  background-color: #f4f4fa;
  border: 2px solid #000;
  box-sizing: border-box;
  padding: 5px;
}
