.menuContainer {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    border-radius: 4px;
    padding: 15px;
    top: 130%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}