.button {
  border-radius: 4px;
  width: 130px;
  height: 40px;
  font-family: 'Helvetica', 'sans-serif';
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  border: none;
  background-color: #fff;
}

.button:hover {
  background-color: #e9e9f0;
  transition: background-color 0.3s ease;
}

.image {
  height: 30px;
  width: 30px;
  display: block;
  padding: 0;
}

