.button {
  border-radius: 4px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-family: 'Helvetica', 'sans-serif';
  border: none;
  background-color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.button:hover {
  background-color: #e9e9f0;
  transition: background-color 0.3s ease;
}

.image {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  display: block;
  padding: 5px 0px 5px 0px;
}
