.page {
  --toolbar-offset: 140px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #e9e9f0;
  min-height: 100vh;
}
.main {
  display: flex;
  margin-top: var(--toolbar-offset);
  height: calc(100vh - var(--toolbar-offset));
}

.workspace {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  width: 100%;
  position: relative;
  padding: 30px 24px 60px;
  overflow: hidden;
  box-sizing: border-box;
}
