.toolbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #c0c0c8;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-right: 1px solid #c0c0c8;
  padding: 10px 30px 10px 30px;
  height: 100px;
  flex-wrap: wrap;
  margin: 10px 0 10px 0;
}

.section:last-child {
  border-right: none;
}